@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'roboto';   
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'oswald';   
    src: url('/fonts/Oswald/static/Oswald-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
   }
@font-face{
    font-family: 'space';   
    src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face{
    font-family: 'ant';   
    src: url('/fonts/Anton/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face{
    font-family: 'inc';   
    src: url('/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face{
    font-family: 'inter';   
    src: url('fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face{
    font-family: 'mont';   
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }